* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
:root {
  --dark-1: #000;
}
body {
  min-height: 100vh;
  font-family: "Cormorant Garamond", serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header-container {
  position: sticky;
  top: 0;
  background: #fff;
}
.navbar {
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name-logo {
  color: var(--dark-1);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4em;
}
.nav-links a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-1);
  text-transform: uppercase;
}
.main-container {
  height: 100%;
  padding: 0 5%;
}
.intro-container,
.work-container,
.contact-container {
  min-height: 100vh;
  padding-top: 3.5rem;
}
.intro-content-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}
.hero-img {
  width: 40%;
}
.intro-txt {
  font-size: 1.75rem;
  padding-bottom: 2em;
}
.skill-title {
  font-size: 2rem;
}
.intro-title {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
}
.work-title,
.contact-title {
  text-align: end;
  font-size: 4rem;
  text-transform: uppercase;
}
.skill-list {
  font-size: 1.25rem;
  list-style: inside;
}
.work-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.work-wrapper {
  width: 30%;
  padding: 0.75em;
  cursor: pointer;
}
.work-wrapper:hover {
  outline: 1px solid var(--dark-1);
}
.work-wrapper img {
  width: 100%;
}
.work-wrapper a {
  color: var(--dark-1);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1em;
  display: inline-block;
}
.work-wrapper a:hover {
  text-decoration: underline;
}
.contact-txt {
  width: 70%;
  font-size: 1.5rem;
  padding: 1em 0;
  margin-left: auto;
  text-align: end;
  text-transform: uppercase;
}
.contact-links {
  font-size: 1.5rem;
  text-align: end;
}
.contact-links p {
  text-transform: uppercase;
}
.contact-links a {
  color: var(--dark-1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.year-copyright {
  font-family: "Roboto", sans-serif;
}